<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.flow.BuildFlow plugin="build-flow-plugin@0.17">
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>30</artifactDaysToKeep>
    <artifactNumToKeep>50</artifactNumToKeep>
  </logRotator>
  <keepDependencies>true</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.13.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.11.3">
      <projectUrl>https://github.com/dotnet/corefx/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git://github.com/dotnet/corefx.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.WipeWorkspace/>
    </extensions>
  </scm>
  <assignedNode>windows</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.11.3">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
  <icon/>
  <dsl>parallel (
  {
    parallel (
     { windows_debug_tests = build(&quot;dotnet_corefx_windows_debug&quot;) },
     { linux_debug_libs = build(&quot;dotnet_corefx_linux_debug&quot;) },
     { osx_debug_libs = build(&quot;dotnet_corefx_mac_debug&quot;) }
    )
      
    linux_debug_libs_snippet = &quot;&lt;SpecificBuildSelector&gt;&lt;buildNumber&gt;$linux_debug_libs.build.number&lt;/buildNumber&gt;&lt;/SpecificBuildSelector&gt;&quot;
    osx_debug_libs_snippet = &quot;&lt;SpecificBuildSelector&gt;&lt;buildNumber&gt;$osx_debug_libs.build.number&lt;/buildNumber&gt;&lt;/SpecificBuildSelector&gt;&quot;
    windows_debug_tests_snippet = &quot;&lt;SpecificBuildSelector&gt;&lt;buildNumber&gt;$windows_debug_tests.build.number&lt;/buildNumber&gt;&lt;/SpecificBuildSelector&gt;&quot;
      
    build(&quot;dotnet_corefx_linux_debug_tst&quot;,
          COREFX_LINUX_BUILD: linux_debug_libs_snippet, 
          COREFX_WINDOWS_BUILD: windows_debug_tests_snippet)
  },
  {
    parallel (
      { build(&quot;dotnet_corefx_windows_release&quot;) },
      { build(&quot;dotnet_corefx_linux_release&quot;) },
      { build(&quot;dotnet_corefx_mac_release&quot;) }
    )
  }
)</dsl>
  <buildNeedsWorkspace>true</buildNeedsWorkspace>
</com.cloudbees.plugins.flow.BuildFlow>